

    <main class="flex-shrink-0">
       <div class="container col-xxl-8 px-4 py-5">
            <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
                <div class="col order-last order-lg-first">
                    <h1 class="display-5 fw-bold lh-1 mb-3">FizzBuzz</h1>
                    <h4 class="lead">
                        
                    </h4>
                    <p>
                        FizzBuzz emphasizes the use of loops. 
                    </p>
                    <p>
                        The FizzBuzz app has 4 possible options to display. First the app needs to determine if the number is a multiple 
                        of both Fizz and Buzz values, if so then “FizzBuzz” is displayed. If not then the app 
                        determines if the number is a multiple of the Fizz value, if so then “Fizz” is displayed. 
                        If not then the app determines if the number is a multiple of the Buzz value, is so 
                        then “Buzz” is displayed. If not then the number itself is displayed. 
                    </p>
                    <p>
                        An interesting point of this app is found in the consequence of not determining if 
                        the value is a multiple of BOTH Fizz and Buzz first. If the app looked to see if 
                        the number was a multiple of just Fizz first and determined that it was then it 
                        wouldn’t bother looking to see if it was also a multiple of Buzz, it would 
                        just stop. The same holds true if multiples of Buzz were checked first. This 
                        would make it impossible for the app to distinguish between multiples of both 
                        and multiples of Fizz or Buzz individually, whichever was checked first.
                    </p>



                </div>
                <div class="col">
                    <img src="\img\fizz400.jpg" class="img-fluid center-block d-block mx-auto pt-4" alt="J A">
                </div>
            </div>
       </div>
    </main>
