



<div class="text-center">
    <h1>Privacy Policy</h1>
    <p>This app was not built to gather or use information of any kind</p>
    <img src="\img\ja.jpg" class="img-fluid center-block d-block mx-auto pt-4" alt="J A" />

</div>
